#main_body
{
    width: 85%;
    margin: auto;
}
#header_logo
{
    background-color: #ffffff;
	padding: 0px;
	margin: 0px;
}
#nav_bar
{
	position: sticky;
    top: 0;
}
#bar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363b40;
}
.bar_list_item {
    float: left;
}

.bar_list_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bar_list_item a:hover {
    background-color: #111;
}
#footer
{
	width: 100%;
	padding: 20px 0px;
	font-size: 20px;
	color: #ffffff;
	background-color: #282E28;
	text-align: center;
    clear: both;
    display: block;
}
#footer p
{
	margin: 0px;
}
.footer_links
{
	text-decoration: underline;
	color: white;
}
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-175px;
    bottom: 100px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:0px 0px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}