*{
    margin:0px;
    padding:0px;
}
body {
	background-color: #e0e0e0;
}
a {
	text-decoration: none;
}
.leftColumn {
    width: 65%;
    float: left;
    padding: 0px;
    margin: 0px;
}
.rightColumn {
    width: 32%;
    float: right;
    padding: 0px;
}
.featured_news {
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 10px;
}
.featured_news img
{
    width: 100%;
    height: 420px;
}
.featured_news_headline
{
    color: green;
    padding: 0px;
    font-size: 43px;
    text-decoration: underline;
    bottom: 8px;
    left: 16px;
}
.featured_news_headline:hover {
    color: red;
}
.news_section {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.category {
    background-color: gray;
    width: 95%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.news
{
    display: inline-block;
    background-color: #ffffff;
    width: 30%;
    height: 100px;
    overflow: auto;
    padding: 0px;
    margin: 0px 11px;
}
.news_image
{
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px 10px;
}
.news_headline
{
    font-size: 18px;
    padding: 0px;
    text-decoration: underline;
    color: black;
}
.on_this_day {
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
.on_this_day strong {
    font-size: 30px;
}
.event {
    margin: 10px 0px;
}
.otd_container {
    max-height: 500px;
    overflow: auto;
}
.OTD_year {
    background-color: #000000;
    font-size: 30px;
    color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    height: 60px;
}
.box 
{
    background-color: white;
    padding: 5px 0px 5px 0px;
    margin-top: 5px;
    font-size:10px;
    max-height: 500px;
    overflow: auto;
}
.box h5
{
    font-size: 25px;
    text-align: center;
}
.box ul {
    line-height: normal;
    text-decoration-style: none;
}

.box ul li {
    margin: 5px 0px;
    margin-left: 20px;
    font-size: 15px;
}

.box ul li a{
    margin: 5px 0px;
    color: #292929;
}

.box ul li a:hover{
    text-decoration: none;
    color: red;
}